@font-face {
    font-family: minecraft;
    src: url('./../assets/fonts/Minecraft.ttf');
}
:root {
    --game-color :rgb(231, 132, 19);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minecraft;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: url('./../assets/images/wall.jpg') no-repeat center center/cover;
}

button {
    cursor: pointer;
}

.side-board {
    height: 100vh;
    width: 25vw;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--game-color);
}
.side-board * {
    margin-top: 10%;
}

.game-container {
    height: 100vh;
    width: 75vw;
    display: flex;    
    justify-content: center;
}

.game-container .start-screen {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./../assets/images/ground.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.start-screen .start-logo {
    background: url('./../assets/images/logo.png') no-repeat center center/cover;
    width: 40%;
    height: 20%;
}

.start-screen .start-btn {
    width: 20%;
    height: 10%;
    font-size: 2rem;
    background-color: black;
    border: 5px solid var(--game-color);
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.game-board {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    position: relative;
}

.btn {
    height: 15%;
    width: 30%;
    border-radius: 10px;
}


.shovel-btn {
    background: url('./../assets/images/shovel.png') no-repeat center center/contain;
    background-size: 80%;  
}
.axe-btn {
    background: url('./../assets/images/axe.png') no-repeat center center/contain;
    background-size: 80%;
}
.pickaxe-btn {
    background: url('./../assets/images/pickaxe.png') no-repeat center center/contain;
    background-size: 80%;

}

.tool-btn {
    background-color: #ddd;
    border: 5px solid black;
    opacity: 0.5;
    transition: .3s;
}
.tool-btn:hover {
    opacity: 1;
    transition: .3s;
}




.absolute {
position: absolute;
top: 0;
left: 0;
width: 4rem;
height: 4rem;
background-color: transparent;
border-radius: 50%;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
border-left: none;
}

.create-btn {
    top: 20%;
}
.play-created-btn{
    top: 40%
}


.restart-btn:hover i {
    transform: rotate(360deg);
    transition: .3s;
}

.inventory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.inventory-container > div {
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    margin: 1rem;
}

.inventory-container .item-amount {
 background-color: black;
 color: white;
 margin: 0;
 padding: 0 3px;
 display: inline;

}

.game-board div:hover {
    border: 1px solid rgb(182, 180, 180);
}

.hide {
    visibility: hidden;
}

.active {
   opacity: 1;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 500px){
    body {
        flex-direction: column;
    }

    .side-board {
        /* flex-direction: row; */
        width: 100vw;
        height: 25vh;

    }

    .inventory-container > div {
        height: 2rem;
        width: 2rem;
        border: 1px solid black;
        margin: 5px;
    }
    .game-board {
        width: 100%;
    }
    .side-board {
        flex-direction: row;
    }
    .tool-btn {
        height: 2rem;
        width: 2rem;
    }

    .absolute {
        position: unset;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border-radius: 50%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-left: none;
        background-color: #ddd;
        }
        
}